@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Imperial+Script&family=Mea+Culpa&family=Poppins&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px 15px 80px;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 20px;
}

.logo img {
    width: 30px;
    height: 100%;
}

.logo h3{
    font-family: "Great Vibes", cursive;
    font-weight:500;
    font-style: normal;
    font-size: xx-large;
    color: rgb(4, 102, 105);
}

.funcoes{
    display: flex;
    align-items: center;
    gap: 80px;
}

.funcoes img {
    width: 30px;
    height: 30px;
}