*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #CCBAEC;
    padding-left: 150px;
    padding-right: 150px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px 20px 100px;
}

.submenus {
    display: flex;
    justify-content: space-around;
}

hr {
    margin: 10px 70px 30px 70px;
}

.list h4 {
    padding-bottom: 10px;
}

.list p {
    padding-top: 8px;
}

.copyright {
    font-size: 13px;
    align-self: center;
    padding: 20px 0 15px 0;
}

.list p:hover {
    cursor: pointer;
    color: rgb(77, 77, 77);
}

.icons a {
    padding-left: 15px;
}

.icons a img {
    width: 40px;
}